<mat-card class="example-card">
        <!--  
      -->

    <mat-grid-list cols="12">
        <mat-grid-tile colspan="1">
            <img mat-card-sm-image src="https://picsum.photos/seed/picsum/200/300"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="11">
            <mat-card-title-group> 
                <mat-card-title>Tutorial: title here</mat-card-title>
                <mat-card-subtitle>By some author</mat-card-subtitle>
              </mat-card-title-group>
              <mat-card-content>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci officia labore tenetur commodi in minima? Natus impedit illum eligendi, sint molestiae iusto dolor architecto qui placeat, itaque a! Minus eveniet veritatis dicta, possimus quisquam facilis nobis? Suscipit recusandae ad fugiat veritatis reprehenderit aliquid eaque, similique reiciendis excepturi sapiente dolores quae. Nulla minus maxime consectetur odit nemo incidunt nesciunt sint, fugiat reiciendis culpa delectus! Voluptatem exercitationem impedit autem debitis accusantium deleniti voluptas et repellendus corporis, quia praesentium non nisi blanditiis reiciendis aspernatur aliquam mollitia iure velit assumenda obcaecati ullam expedita odit. Libero sunt hic dolores, aliquid provident fugit dignissimos quidem repellat!
              </mat-card-content>
        </mat-grid-tile>
    </mat-grid-list>
      
</mat-card>
