<!-- <div>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
</div> -->

<!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
</form> -->

<!-- <button style="width: 100%;" color="primary"> -->
  <mat-card>
<form class="example-form" (ngSubmit)="searchFunc(search)" >

    <mat-form-field class="example-full-width">
      <mat-label style=" color: white;">Search</mat-label>
        <input type="search" matInput placeholder="Search" name="search" [(ngModel)]="search" style="width:100%;">
        <!-- [(ngModel)]= "search" -->
<!--        <button mat-icon-button>-->
          <mat-icon matSuffix (click)="searchFunc(search)">search</mat-icon>
<!--        </button>-->
    </mat-form-field>
    <!-- <br /> -->
    <!-- {{search}} -->
</form>
<!-- </button> -->
</mat-card>

<!-- <mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text">
  <button>
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->

<app-tutorial-card *ngFor="let card of listArr" [card]="card"></app-tutorial-card>
