/*.card {*/
/*  display: grid;*/
/*  grid-template-columns: 10% 75% 10%;*/
/*  column-gap: 2px;*/
/*  margin-bottom: 2px;*/
/*}*/

.card{
  display: flex;
  margin-bottom: 2px;
  min-height: 150px;
}


.item{
  padding: 10px;
  display: block;
}
.actions {
  padding: 10px;
  vertical-align: middle;
}
@media (max-width: 600px) {
  .card {
    display: block;
  }

  .item {
    display: block;
    align-content: center;
  }
}

