<mat-card class="card">
<mat-card-content class="item">
  <img src="https://placeholder.pics/svg/100"/>
</mat-card-content>
<mat-card-content class="item">
  <h2>{{card.title}}</h2>
  <p>{{card.description}}</p>
</mat-card-content>
  <mat-card-actions>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon *ngIf="isFavorited" (click)="isFavorited = !isFavorited">favorite_border</mat-icon>
      <mat-icon *ngIf="!isFavorited" color="primary" (click)="isFavorited = !isFavorited">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
