<mat-card class="card">
  <mat-card-content class="item">
    <img [src]="card.image" style="max-height: 100px; max-width: 100px;" />
  </mat-card-content>
  <mat-card-content class="item">
    <h2>{{card.title}}</h2>
    <p>{{card.description}}</p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon *ngIf="!isFavorited" (click)="addToFavorites()">favorite_border</mat-icon>
      <mat-icon *ngIf="isFavorited" color="primary" (click)="removeFromFavorites()">favorite</mat-icon>
    </button>
    <button routerLink="/recording/{{card._id}}" mat-button aria-label="Example icon button with a vertical three dot icon" style="font-family: 'Roboto Mono', monospace;">
    Check out tutorial
    </button>
  </mat-card-actions>
</mat-card>
