<!-- <div>
    
      <h2 class="header">GitRecording </h2>
      <h4 class="subheader"> Best way to learn coding through videos </h4>
   
    <div>
      <p class="text"> <img src="https://miro.medium.com/max/866/1*l1D3l2p8OB90QHPo3A8Qyw.jpeg" alt="Git"> Unlike watching a tutorial from Youtube,
      you should be able to look at the whole file at your
      own pace; no need to rewind the video to look at the code
      that has disappeared from the video's screen anymore!
      Check out some of our tutorials below!
    
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
  
  </div> -->

  <div>
    <!-- <mat-card class="example-card" > -->
      <mat-card-title-group>
        <mat-card-title>GitRecording </mat-card-title>
        <mat-card-subtitle style="color:black;"> Best way to learn coding through videos </mat-card-subtitle>
  <!--      <div class="info">-->
  <!--        <img mat-card-md-image src="https://miro.medium.com/max/866/1*l1D3l2p8OB90QHPo3A8Qyw.jpeg" >-->
  <!--      </div>-->
      </mat-card-title-group>
      <mat-card-content class="info-content">
        Unlike watching a tutorial from Youtube,
        you should be able to look at the whole file at your
        own pace; no need to rewind the video to look at the code
        that has disappeared from the video's screen anymore!
        Check out some of our tutorials below!
      </mat-card-content>
    <!-- </mat-card> -->
  </div>
   
  
  
    

