<div>
  <mat-card class="example-card" >
    <mat-card-title-group>
      <mat-card-title>GitRecording </mat-card-title>
      <mat-card-subtitle> Best way to learn coding through videos </mat-card-subtitle>
<!--      <div class="info">-->
<!--        <img mat-card-md-image src="https://miro.medium.com/max/866/1*l1D3l2p8OB90QHPo3A8Qyw.jpeg" >-->
<!--      </div>-->
    </mat-card-title-group>
    <mat-card-content class="info-content">
      Unlike watching a tutorial from Youtube,
      you should be able to look at the whole file at your
      own pace; no need to rewind the video to look at the code
      that has disappeared from the video's screen anymore!
      Check out some of our tutorials below!
    </mat-card-content>
  </mat-card>
</div>
